body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/****NAV-BAR OVERIDES****/

/* navbar */
.navbar-inverse {
    background-color: #160A2E;
    border-color: #7F56C5;
}
    /* Title */
    .navbar-inverse .navbar-brand {
        color: #FFFFFF;
    }

        .navbar-inverse .navbar-brand:hover,
        .navbar-inverse .navbar-brand:focus {
            color: #C0C0C0;
        }
    /* Link */
    .navbar-inverse .navbar-nav > li > a {
        color: #FFFFFF;
    }

        .navbar-inverse .navbar-nav > li > a:hover,
        .navbar-inverse .navbar-nav > li > a:focus {
            color: #808080;
        }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #555;
        background-color: #7F56C5;
    }

    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        color: #C0C0C0;
        background-color: #808080;
    }
    /* Caret */
    .navbar-inverse .navbar-nav > .dropdown > a .caret {
        border-top-color: #FFFFFF;
        border-bottom-color: #FFFFFF;
    }

    .navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
    .navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
        border-top-color: #808080;
        border-bottom-color: #808080;
    }

    .navbar-inverse .navbar-nav > .open > a .caret,
    .navbar-inverse .navbar-nav > .open > a:hover .caret,
    .navbar-inverse .navbar-nav > .open > a:focus .caret {
        border-top-color: #C0C0C0;
        border-bottom-color: #C0C0C0;
    }
    /* Mobile version */
    .navbar-inverse .navbar-toggle {
        border-color: #C0C0C0;
    }

        .navbar-inverse .navbar-toggle:hover,
        .navbar-inverse .navbar-toggle:focus {
            background-color: #C0C0C0;
        }

        .navbar-inverse .navbar-toggle .icon-bar {
            background-color: #C0C0C0;
        }

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #FFFFFF;
    }

        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #808080;
        }
}

/****USER PROFILE IMAGE****/
.user {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
