@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MACK Tech "Canvas"</h1>    
    <p class="lead">Select your class below to veiw more detail.</p>   
</div>
<main class="col-md-8">
    <section class="Sec-ClassCard">
            
        <h2 class="ClassCardHeader">Current Enrollemnts</h2>

        <table class="classListTable">
            <tr>
                <td>
                <div class="classCard">
                    <h2>CS 3750</h2>
                    <p>
                        Schedule: T/Th 7:30a - 9:00a
                    </p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Class Details &raquo;</a></p>
                </div>
                </td>
                <td>
                    <div class="classCard">
                        <h2>CS 3620</h2>
                        <p>
                            Schedule: M/W 7:30a - 9:00a
                        </p>
                        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Class Details &raquo;</a></p>
                    </div>
                </td>
            </tr>


            <tr>
                <td>
                    <div class="classCard">
                        <h2>Math 1220</h2>
                        <p>
                            Schedule: Online, group meeting TH 7:30p
                        </p>
                        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Class Details &raquo;</a></p>
                    </div>
                </td>

                <td >
                    <div class="classCard">

                        <h2>Phys 2120</h2>
                        <p>
                            Schedule: M,W,F 10:30a - 12:00p
                        </p>
                        <p>
                            Lab: TH: 2:30p - 4:30p
                        </p>
                        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Class Details &raquo;</a></p>
                    </div>
                </td>

            </tr>
        </table>   

</section>
</main>
<aside class="col-md-4">
    <section class="homeClassPageMenu">
        <div class="homeClassMenuButton">
            <a href="Grades.html">
                <h2>Grades</h2>
            </a>
        </div>
        <div class="homeClassMenuButton">
            <a href="Registration.html">
                <h2>Registration</h2>
            </a>
        </div>
        <div class="homeClassMenuButton">
            <a href="Message.html">
                <h2>Message</h2>
            </a>
        </div>
    </section>
</aside>
<footer class="col-md-12">

</footer>


