
@{
    ViewBag.Title = "Course Detail View";
}

<h1>Welcome to Courses Detail View</h1>

<p><a class="btn btn-default" href="@Url.Action("ViewAllAssignments", "Assignments")">View All Assignments</a></p>
<p><a class="btn btn-default" href="@Url.Action("SelectCourse", "Assignments")">Add New Assignment</a></p>

