
@{
    ViewBag.Title = "Calendar";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/Misc/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.Department + " " + v.CourseNumber + " " + v.AssignmentTitle,
                            description: v.AssignmentDescription,
                            start: moment(v.DueDate),
                            end: moment(v.DueDate)
                        });
                    })

                    GenerateCalendar(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })

            function GenerateCalendar(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    theme: true,
                    themeSystem: 'standard',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    buttonIcons: {
                        next: 'right-single-arrow',
                        prev: 'left-single-arrow',
                        prevYear: 'left-double-arrow',
                        nextYear: 'right-double-arrow'
                    },
                    timeFormat: 'h(:mm)a',
                    defaultView: 'month',
                    editable: true,
                    allDaySlot: false,
                    selectable: true,
                    eventColor: '#378006',
                    eventLimit: true,
                    events: events
                });
            }
        });
    </script>
    }

<span class="calendarTitle col-md-12" >
    Calendar
</span>

<div class="row">
    <div class="col-md-12">
        <div id="calendar"></div>
    </div>
</div>

@*
    <main class="col-md-8">
        <h1>Calendar</h1>


        <section class="homePageCalendar">
            <h2> June </h2>
            <table class="CalendarTable">
                <tr>
                    <th class="CalendarDay"> Sunday </th>
                    <th class="CalendarDay"> Monday </th>
                    <th class="CalendarDay"> Tuesday </th>
                    <th class="CalendarDay"> Wednesday </th>
                    <th class="CalendarDay"> Thursday </th>
                    <th class="CalendarDay"> Friday </th>
                    <th class="CalendarDay"> Saturday </th>

                </tr>
                <tr class="CalendarRow1">
                    <td class="CalendarBlock">
                        31
                    </td>
                    <td class="CalendarBlock">
                        1
                    </td>
                    <td class="CalendarBlock">
                        2
                    </td>
                    <td class="CalendarBlock">
                        3
                    </td>
                    <td class="CalendarBlock">
                        4
                    </td>
                    <td class="CalendarBlock">
                        5
                    </td>
                    <td class="CalendarBlock">
                        6
                    </td>
                </tr>
                <tr class="CalendarRow2">
                    <td class="CalendarBlock">
                        7
                    </td>
                    <td class="CalendarBlock">
                        8
                    </td>
                    <td class="CalendarBlock">
                        9
                    </td>
                    <td class="CalendarBlock">
                        10
                    </td>
                    <td class="CalendarBlock">
                        11
                    </td>
                    <td class="CalendarBlock">
                        12
                    </td>
                    <td class="CalendarBlock">
                        13
                    </td>
                </tr>
                <tr class="CalendarRow3">
                    <td class="CalendarBlock">
                        14
                    </td>
                    <td class="CalendarBlock">
                        15
                    </td>
                    <td class="CalendarBlock">
                        16
                    </td>
                    <td class="CalendarBlock">
                        17
                    </td>
                    <td class="CalendarBlock">
                        18
                    </td>
                    <td class="CalendarBlock">
                        19
                    </td>
                    <td class="CalendarBlock">
                        20
                    </td>
                </tr>
                <tr class="CalendarRow4">
                    <td class="CalendarBlock">
                        21
                    </td>
                    <td class="CalendarBlock">
                        22
                    </td>
                    <td class="CalendarBlock">
                        23
                    </td>
                    <td class="CalendarBlock">
                        24
                    </td>
                    <td class="CalendarBlock">
                        25
                    </td>
                    <td class="CalendarBlock">
                        26
                    </td>
                    <td class="CalendarBlock">
                        27
                    </td>
                </tr>
                <tr class="CalendarRow5">
                    <td class="CalendarBlock">
                        28
                    </td>
                    <td class="CalendarBlock">
                        29
                    </td>
                    <td class="CalendarBlock">
                        30
                    </td>
                    <td class="CalendarBlock">
                        1
                    </td>
                    <td class="CalendarBlock">
                        2
                    </td>
                    <td class="CalendarBlock">
                        3
                    </td>
                    <td class="CalendarBlock">
                        4
                    </td>
                </tr>
            </table>
        </section>

    </main>



<aside class="col-md-4">
    <section class="addCalendarEvent">
        <div class="addEventButton">
            <a href="@Url.Action("NewEvent", "Misc")">
                <h2 class="addCalLink">New Event</h2>
            </a>
        </div>
    </section>
</aside>

        *@


